<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FEB18431C1437F500FE7C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FEB185F1C1437F500FE7C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FEB186A1C1437F600FE7C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
